body {
    font-family: sans-serif;
    color: #eee;
    background: url("img/erwann.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 36rem;
    margin: 3rem auto;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

input[type="text"],
textarea {
    width: 100%;
    margin: 0.5rem auto;
    border: 2px solid rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.7);
    transition: .3s;
}

input[type="radio"] {
    margin: 0 0 0 0.5rem;
}

input[type="submit"] {
    width: 100%;
}

input {
    padding: 0.3rem;
    box-sizing: border-box;
    transition: .3s;
}

p {
    margin: 0.5rem 0;
}

pre {
    background: white;
    padding: 2rem;
}

input:hover,
textarea:hover {
    border: 2px solid lightblue;
    transition: .3s;
}

input:focus,
textarea:focus {
    border: 2px solid lightsalmon;
    outline: 0;
    transition: .3s;
}